node_modules/
.svn/
.idea/
.mta/
*.mtar
dist/
package-lock.json
webapp/Component.js
webapp/**/*.js.map
interfaces.pdf
webapp/controller/App.controller.js
webapp/controller/BaseController.js
webapp/controller/Main.controller.js
webapp/localService/mockserver.js
webapp/model/models.js
webapp/test/initMockServer.js
webapp/controller/NotFound.controller.js
webapp/view/blocks/main/BlockAssignedRoles.js
webapp/controller/blocks/main/BlockAssignedRoles.controller.js
webapp/view/blocks/main/BlockOpenRequests.js
webapp/controller/blocks/main/BlockOpenRequests.controller.js
webapp/controller/blocks/main/BlockPersonalData.controller.js
webapp/view/blocks/main/BlockPersonalData.js
webapp/controller/blocks/main/BlockLDAP.controller.js
webapp/formatter/formatter.js
webapp/view/blocks/main/BlockLDAP.js
